<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>根据用户找买的商品</title>
</head>
<body>
    用户名:{{ user.username }}
    <hr>
    购买的商品有:
    <br>
    <!-- Goods表中 users = db.relationship('User', backref='goodses', secondary='user_goods') -->
    <!-- 用户表中的多对多关联,secondary指的是中间表,才能这样取反向去goods -->
    {% for goods in user.goodses %}
        <p>{{ goods.gname }}---{{ goods.price }}</p>
    {% endfor %}
</body>
</html>