<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>展示</title>
</head>
<body>
<div>用户信息展示</div>
<p>
    用户名是：{{ name }} -- {{ age }} ---{{ gender }}
    <br>
    {# 列表 #}
    {{ friends.0 }} --- {{ friends[1] }} --- {{ friends[4] }}   {# friends[4] 不存在,但是不会报错 #}
    <br>
    {# 字典 #}
    {{ dict1.gift1 }} --- {{ dict1.get('gift0') }}
    {{ dict1.gift1 }} --- {{ dict1.get('gift0') }}
    <br>
    {# 对象 #}
    {{ girl.name }} -- {{ girl.gender }} -- {{ girl.addr }}
    <br>
    <span style="color: #2dc26b">列表,字典,对象都可以通过 . 来获取值</span>
</p>

</body>
</html>