{% extends 'base.html' %} {# extends 路径是相对于templates根目录来说的,所以直接写即可 #}

{% block middle %}
    <h1>用户信息</h1>
    <span>当前用户人数是：{{ users | length }}</span>
    <table border="1" cellspacing="0" width="60%">
        {# 循环展示 #}
        {% for user in users %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.password }}</td>
                <td>{{ user.phone }}</td>
                <td>
                    <a href="javascript:;" onclick="update('{{ user.username }}')">修改</a>
                    <a href="javascript:;" onclick="del('{{ user.username }}')">删除</a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block myjs %}
    <script>
        del = (username)=>{
            // console.log(username)
            // location 地址栏对象
            location.href = '/delete?username='+username
        }

        update = (username)=>{
            location.href = '/update?username='+username
        }
    </script>
{% endblock %}


